
<div class="flex-1 max-w-96 rounded-lg overflow-hidden">
    <app-teaser></app-teaser>
    <div class="flex flex-col mt-[32px]">
        <h2 class="news-title">News</h2>
        <p class="text-[#161616] mb-4 text-lg">
        Here you can add a brief description about the purpose of the portal followed with a call to action button and an image or an illustration on the left hand side.
        </p>
        <div class="flex items-center justify-start gap-3">
            <span class="text-xl font-semibold">Oct 28, 2024 | 2:44 PM</span>
            <mat-icon svgIcon="arrow-right-circled" class="arrow-right-circled"></mat-icon>
        </div>
    </div>
</div>