.circle-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Circle shape */
    padding: 10px; /* Space around the icon */
    font-size: 24px; /* Adjust icon size */
    border: 2px solid black;
}
.news-title {
    color: #161616;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px; /* 120% */
    letter-spacing: -1.2px;
}

.arrow-right-circled {
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.news-title {
  font-size: 2rem;
  font-weight: bold;
}

.carousel-button {
  width: 60px;
  height: 60px;
  background-color: #1d8254;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.carousel-arrow {
  width: 24px;
  height: 24px;
  stroke: white;
}
