th.mat-mdc-header-cell {

    border: 2px solid #BABABA;
    
}

td.mat-mdc-cell {
    /* row border */
    border: 2px solid #BABABA;
    padding: 6px;
}
.mat-mdc-form-field-infix {
    min-height: 30px !important;
}
table {
    /* row spacing / margin */
    border-spacing: 0 8px !important;
    border-bottom: 2px solid #BABABA;
} 

:host ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .mat-mdc-form-field-icon-suffix {
        background-color: #CBE6BA;
    }
}