<header class="bg-white shadow-md">
  <!-- Top Bar -->
  <div class="flex justify-between items-center h-[88px] px-[48px]">
    <!-- Left Info -->
    <div class="flex items-center space-x-2">
      <span class="text-sm">Employee Name</span>
      <span class="text-sm text-gray-400">|</span>
      <span class="text-sm">ID: 84743</span>
      <span class="text-sm text-gray-400">|</span>
      <span class="text-sm">Specialist</span>
      <span class="text-sm text-gray-400">|</span>
      <span class="text-sm">Report to: Mr. Adel</span>
    </div>

    <!-- Logos -->
    <div class="flex items-center space-x-4">
      <img src="assets/logo.png" alt="Logo 1" class="h-[76px]" />
    </div>

    <!-- Right Info (Navigation + User Icon) -->
    <div class="flex items-center space-x-4">
      <button mat-button class="text-sm text-black bg-black" routerLink="/">Home</button>
      <button mat-button class="text-sm text-black" routerLink="/">Contacts</button>
      <button nz-button nzType="primary" class="flex-end flex" (click)="open()">

        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="black">
          <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
        </svg>
      </button>

      <!-- <div class="flex flex-row items-center gap-1 cursor-pointer" (click)="toggleSidenav()">
        <mat-icon svgIcon="user" class="user"></mat-icon>
        <mat-icon svgIcon="arrow-down" class="arrow-down"></mat-icon>
      </div> -->
    </div>
  </div>

  <!-- Sidenav Container -->
  <!-- <mat-sidenav-container class="fixed inset-0 z-50">
    <mat-sidenav #sidenav mode="over" position="end" class="w-64">
      <div class="p-4">
        <button mat-button class="w-full text-left mb-4" routerLink="/news">NEWS</button>
        <button mat-button class="w-full text-left mb-4">EVENTS</button>
        <button mat-button class="w-full text-left">OFFERS</button>
      </div>
    </mat-sidenav>
  </mat-sidenav-container> -->


  <!-- Navigation Bar -->
  <div class="flex flex-row bg-[#064D31] gap-4 h-[64px] px-[48px] items-center">
    <a class="flex flex-row items-center gap-1 hover:bg-teal-700 text-white rounded-lg px-4 py-3 cursor-pointer">
      <span>Combo Box </span>
      <mat-icon svgIcon="arrow-down" class="arrow-down text-white"></mat-icon>
    </a>
    <a class="flex flex-row items-center gap-1 hover:bg-teal-700 text-white rounded-lg px-4 py-3 cursor-pointer">
      <span>Combo Box </span>
      <mat-icon svgIcon="arrow-down" class="arrow-down text-white"></mat-icon>
    </a>
    <!-- <a class="flex flex-row items-center gap-1 hover:bg-teal-700 text-white rounded-lg px-4 py-3 cursor-pointer" routerLink="/new-create">
      <span>New Create </span>
    </a>
    <a class="flex flex-row items-center gap-1 hover:bg-teal-700 text-white rounded-lg px-4 py-3 cursor-pointer" routerLink="/table">
      <span>Table </span>
    </a> -->
  </div>
</header>
<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="left" (nzOnClose)="close()" [nzMask]="true" [nzMaskClosable]="true">
  <hr>
  <aside *nzDrawerContent class="fixed top-0 right-0 z-40 w-80 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-[#064D31]">
      <div class="flex justify-end"><button class=" flex-end" nz-button nzType="primary" (click)="close()">
          <svg class="mb-3" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);">
            <path d="M9.172 16.242 12 13.414l2.828 2.828 1.414-1.414L13.414 12l2.828-2.828-1.414-1.414L12 10.586 9.172 7.758 7.758 9.172 10.586 12l-2.828 2.828z"></path>
            <path d="M12 22c5.514 0 10-4.486 10-10S17.514 2 12 2 2 6.486 2 12s4.486 10 10 10zm0-18c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8z"></path>
          </svg>
        </button>
      </div>
      <hr class="my-1" />

      <div class="flex gap-2">

        <div class="flex flex-row items-center gap-1 cursor-pointer">

          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="white">
            <path d="M12 2A10.13 10.13 0 0 0 2 12a10 10 0 0 0 4 7.92V20h.1a9.7 9.7 0 0 0 11.8 0h.1v-.08A10 10 0 0 0 22 12 10.13 10.13 0 0 0 12 2zM8.07 18.93A3 3 0 0 1 11 16.57h2a3 3 0 0 1 2.93 2.36 7.75 7.75 0 0 1-7.86 0zm9.54-1.29A5 5 0 0 0 13 14.57h-2a5 5 0 0 0-4.61 3.07A8 8 0 0 1 4 12a8.1 8.1 0 0 1 8-8 8.1 8.1 0 0 1 8 8 8 8 0 0 1-2.39 5.64z"></path>
            <path d="M12 6a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4zm0 6a1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2 1.91 1.91 0 0 1-2 2z"></path>
          </svg> <!-- <mat-icon svgIcon="arrow-down" class="arrow-down"></mat-icon> -->
        </div>
        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
          <div>Nimha</div>nimha&#64;gmail.com
        </div>
      </div>
      <hr class="my-3" />

      <ul class="space-y-4 font-medium mt-4">
        <li>
          <a (click)="close()" routerLink="/news-logs" class="flex items-center p-3 text-gray-900 rounded-lg dark:text-white hover:backdrop-blur-lg dark:hover:bg-white/30  hover:transition hover:duration-700 ease-in-out bg-white/10 group">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path d="M19.875 3H4.125C2.953 3 2 3.897 2 5v14c0 1.103.953 2 2.125 2h15.75C21.047 21 22 20.103 22 19V5c0-1.103-.953-2-2.125-2zm0 16H4.125c-.057 0-.096-.016-.113-.016-.007 0-.011.002-.012.008L3.988 5.046c.007-.01.052-.046.137-.046h15.75c.079.001.122.028.125.008l.012 13.946c-.007.01-.052.046-.137.046z"></path>
              <path d="M6 7h6v6H6zm7 8H6v2h12v-2h-4zm1-4h4v2h-4zm0-4h4v2h-4z"></path>
            </svg>
            <span class="ms-3">News</span>
          </a>
        </li>
        <li>
          <a (click)="close()" href="#" class="flex items-center p-3 text-gray-900 rounded-lg dark:text-white hover:backdrop-blur-lg dark:hover:bg-white/30  hover:transition hover:duration-700 ease-in-out bg-white/10 group">
            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
              <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z" />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Events</span>
          </a>
        </li>
        <li>
          <a (click)="close()" href="#" class="flex items-center p-3 text-gray-900 rounded-lg dark:text-white hover:backdrop-blur-lg dark:hover:bg-white/30  hover:transition hover:duration-700 ease-in-out bg-white/10 group">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path d="m20.749 12 1.104-1.908a1 1 0 0 0-.365-1.366l-1.91-1.104v-2.2a1 1 0 0 0-1-1h-2.199l-1.103-1.909a1.008 1.008 0 0 0-.607-.466.993.993 0 0 0-.759.1L12 3.251l-1.91-1.105a1 1 0 0 0-1.366.366L7.62 4.422H5.421a1 1 0 0 0-1 1v2.199l-1.91 1.104a.998.998 0 0 0-.365 1.367L3.25 12l-1.104 1.908a1.004 1.004 0 0 0 .364 1.367l1.91 1.104v2.199a1 1 0 0 0 1 1h2.2l1.104 1.91a1.01 1.01 0 0 0 .866.5c.174 0 .347-.046.501-.135l1.908-1.104 1.91 1.104a1.001 1.001 0 0 0 1.366-.365l1.103-1.91h2.199a1 1 0 0 0 1-1v-2.199l1.91-1.104a1 1 0 0 0 .365-1.367L20.749 12zM9.499 6.99a1.5 1.5 0 1 1-.001 3.001 1.5 1.5 0 0 1 .001-3.001zm.3 9.6-1.6-1.199 6-8 1.6 1.199-6 8zm4.7.4a1.5 1.5 0 1 1 .001-3.001 1.5 1.5 0 0 1-.001 3.001z"></path>
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Offers</span>
          </a>
        </li>


      </ul>

    </div>
  </aside>

</nz-drawer>