/* header.component.scss */
:host ::ng-deep {

    .mat-mdc-button:not(:disabled) {
        color: white;
    }
}
.user {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.arrow-down {
    width: 11px;
    height: 6px;
    font-size: 6px;
}

.header {
    .top-bar {
      @apply flex justify-between items-center px-4 py-2;
    }
  
    .logos {
      @apply flex items-center space-x-4;
    }
  
    .navigation-bar {
      @apply bg-teal-800 py-2;
    }
  
    .navigation-item {
      @apply text-white hover:bg-teal-700 rounded-lg px-4 py-2;
    }
  }
  