/* header.component.scss */
:host ::ng-deep {

    .mat-mdc-button:not(:disabled) {
        color: white;
        background-color: #064D31;
    }
}
.user {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.arrow-down {
    width: 11px;
    height: 6px;
    font-size: 6px;
}

.header {
    .top-bar {
      @apply flex justify-between items-center px-4 py-2;
    }
  
    .logos {
      @apply flex items-center space-x-4;
    }
  
    .navigation-bar {
      @apply bg-teal-800 py-2;
    }
  
    .navigation-item {
      @apply text-white hover:bg-teal-700 rounded-lg px-4 py-2;
    }
  }
  
mat-sidenav-container {
  position: relative;
}

mat-sidenav {
  position: fixed !important; 
  z-index: 9999;
  height: 50vh; 
  top: 88px; 
  right: 0; 
  transition: transform 0.3s ease; 
  transform: translateX(100%); 
}

mat-sidenav.open {
  transform: translateX(0); 
}

mat-sidenav button {
  font-size: 1rem;
  padding: 12px;
}
