<div class="no-scrollbar">

    <div class="flex flex-row px-[80px] mt-11 gap-5 justify-between">
      <app-news class="flex flex-col w-1/2"></app-news>
      <mat-card class="w-1/2 shadow !bg-[#FCFCFC] rounded-[16px] max-w-[526px]" appearance="outlined">
        <mat-card-header>
          <mat-card-title>ATMT</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <div class="flex flex-col gap-4">
            <div class="flex flex-row items-center justify-between border border-solid border-[#D2D6DB] rounded-lg h-[58px] px-[24px]"><a>ATMT req (3254) for application</a><mat-icon svgIcon="arrow-right" class="arrow-right"></mat-icon></div>
            <div class="flex flex-row items-center justify-between border border-solid border-[#D2D6DB] rounded-lg h-[58px] px-[24px]"><a>ATMT req (3254) for application</a><mat-icon svgIcon="arrow-right" class="arrow-right"></mat-icon></div>
            <div class="flex flex-row items-center justify-between border border-solid border-[#D2D6DB] rounded-lg h-[58px] px-[24px]"><a>ATMT req (3254) for application</a><mat-icon svgIcon="arrow-right" class="arrow-right"></mat-icon></div>
            <div class="flex flex-row items-center justify-between border border-solid border-[#D2D6DB] rounded-lg h-[58px] px-[24px]"><a>ATMT req (3254) for application</a><mat-icon svgIcon="arrow-right" class="arrow-right"></mat-icon></div>
          </div>
         
        </mat-card-content>
       
      </mat-card>
    </div>
  
    <app-quick-links class="flex flex-col mt-6"></app-quick-links>
    <app-news-slider class="flex flex-col mt-6"></app-news-slider>
    <app-contact-us class="flex flex-col mt-6"></app-contact-us>

  </div>
  