<!-- Quick Links Section -->
<div class="px-[80px] pb-[80px] mt-[134px] bg-gray-50 rounded-lg">
    <!-- Section Header -->
    <div class="flex flex-col gap-6">
      <span class="flex flex-col text-5xl font-bold text-[#161616]">Quick links</span>
      <p class="text-[#161616] text-base">
        Here you can add a brief description about the purpose of the portal followed with a call to action button and an image or an illustration on the left hand side.
      </p>
    </div>
  
    <!-- Links Grid -->
    <div class="grid grid-cols-4 gap-6 mt-[54px]">
      <!-- Link Card -->
      <div class="p-[30px] bg-white rounded-lg shadow-md flex items-center justify-between relative h-[168px]">
        <div class="flex flex-col items-start gap-[30px]">
          <mat-icon svgIcon="file" class="file-icon"></mat-icon>
          <span class="font-medium text-xl text-[#161616]">PPGs</span>
        </div>
        <mat-icon svgIcon="arrow-with-angle" class="arrow-with-angle"></mat-icon>
      </div>
  
      <!-- Link Card -->
      <div class="p-[30px] bg-white rounded-lg shadow-md flex items-center justify-between relative h-[168px]">
        <div class="flex flex-col items-start gap-[30px]">
            <mat-icon svgIcon="file" class="file-icon"></mat-icon>
          <span class="font-medium text-xl text-[#161616]">PPGs</span>
        </div>
        <mat-icon svgIcon="arrow-with-angle" class="arrow-with-angle"></mat-icon>
      </div>
  
      <!-- Link Card -->
      <div class="p-[30px] bg-white rounded-lg shadow-md flex items-center justify-between relative h-[168px]">
        <div class="flex flex-col items-start gap-[30px]">
            <mat-icon svgIcon="file" class="file-icon"></mat-icon>
            <span class="font-medium text-xl text-[#161616]">PPGs</span>
        </div>
        <mat-icon svgIcon="arrow-with-angle" class="arrow-with-angle"></mat-icon>
      </div>
  
      <!-- Link Card -->
      <div class="p-[30px] bg-white rounded-lg shadow-md flex items-center justify-between relative h-[168px]">
        <div class="flex flex-col items-start gap-[30px]">
            <mat-icon svgIcon="file" class="file-icon"></mat-icon>
            <span class="font-medium text-xl text-[#161616]">PPGs</span>
        </div>
        <mat-icon svgIcon="arrow-with-angle" class="arrow-with-angle"></mat-icon>
      </div>
  
      <!-- Link Card -->
      <div class="p-[30px] bg-white rounded-lg shadow-md flex items-center justify-between relative h-[168px]">
        <div class="flex flex-col items-start gap-[30px]">
            <mat-icon svgIcon="file" class="file-icon"></mat-icon>
          <span class="font-medium text-xl text-[#161616]">Medical Privileges</span>
        </div>
        <mat-icon svgIcon="arrow-with-angle" class="arrow-with-angle"></mat-icon>
      </div>
  
      <!-- Link Card -->
      <div class="p-[30px] bg-white rounded-lg shadow-md flex items-center justify-between relative h-[168px]">
        <div class="flex flex-col items-start gap-[30px]">
            <mat-icon svgIcon="file" class="file-icon"></mat-icon>
            <span class="font-medium text-xl text-[#161616]">ATMT</span>
        </div>
        <mat-icon svgIcon="arrow-with-angle" class="arrow-with-angle"></mat-icon>
      </div>
  
      <!-- Link Card -->
      <div class="p-[30px] bg-white rounded-lg shadow-md flex items-center justify-between relative h-[168px]">
        <div class="flex flex-col items-start gap-[30px]">
            <mat-icon svgIcon="file" class="file-icon"></mat-icon>
            <span class="font-medium text-xl text-[#161616]">Memo</span>
        </div>
        <mat-icon svgIcon="arrow-with-angle" class="arrow-with-angle"></mat-icon>
      </div>
  
      <!-- Link Card -->
      <div class="p-[30px] bg-white rounded-lg shadow-md flex items-center justify-between relative h-[168px]">
        <div class="flex flex-col items-start gap-[30px]">
            <mat-icon svgIcon="file" class="file-icon"></mat-icon>
            <span class="font-medium text-xl text-[#161616]">E-Requests</span>
        </div>
        <mat-icon svgIcon="arrow-with-angle" class="arrow-with-angle"></mat-icon>
      </div>
    </div>
  </div>
  