.file-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.arrow-with-angle {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    color: #000000;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}
